.mainContent{
  width: 80%;
  margin: 25px, 35px;
  background-color: #941B0C;
  border: 2px solid #621708;
  border-radius: 15px;
  padding: 20px;
}
body {
  font-family: 'Lobster Two', cursive;
  background-color: #220901;
}

.range-field {
  margin: auto;
}

.slider-question {
  position: relative;
  margin: auto;
}

#submit {
  background-color: #1789FC;
  color: gainsboro;
  font-size: 18px;
  font-family: Arial;
}

.carousel-btn {
  height: 100px;
  width: 165px;
  border-radius: 50%;
  margin-top: 65px;
  margin-left: 15px;
}

.homebtn {
  font-size: 18px;
  margin-left: 43%;
  background-color: #1789FC;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.homebtn2 {
  width: 75px;
  height: 75px;
  position: fixed;
  padding: 19px;
  margin-left: 185px;
  margin-top: -45px;
  background-color: #1789FC;
  font-family: Arial;
}

.stylebox {
  font-size: 20px;
  position: fixed;
  height: 400px;
  width: 400px;
  background-color: #941B0C;
  margin: 10% 0% 0% 35%;
/*  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;*/
  border-radius: 50%;
  border: 5px #1789FC dashed;
}

.home-text {
  position: relative;
  margin-left: 7%;
  margin-top: 5%;
  color: #1789FC;
  font-size: 33px;
}

.name-bubble {
  border-radius: 50%;
  height: 400px;
  width: 400px;
  margin-left: 200px;
  margin-top: 45px;
  background-color: #941B0C;
  border: 5px #1789FC dashed;
  overflow: none;
}

#survey-bubble {
  height: 600px;
  width: 600px;
  position: fixed;
  margin-top: -420px;
  margin-left: 570px;
  border: 15px #1789FC dashed;
  animation-name: rotation;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

#modal1{
  border-radius: 50%;
  height: 600px;
  width: 450px;
  position: fixed;
  border: 15px #1789FC dashed;
  overflow: none;
  overflow-y: hidden;
  background-color: gainsboro;
}

.modal-pic {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.modal-content {
  border-radius: 50%;
  margin-left: 85px;
  margin-top: 30px;
}

.carousel {
  position: fixed;
  border-radius: 50%;
  margin: -390px 0px 0px 625px;
  width: 500px;
  height: 500px;
  font-size: 30px;
}

.input-container {
  margin-top: 100px;
  margin-left: 27px;
}

.input-field label {
  text-align: center;
}
.input-field {
  width: 325px;
}

.carousel {
/*  animation-name: otherrotation;
  animation-duration: 10s;
  animation-iteration-count: infinite;*/
}

@keyframes rotation {
    0%   {transform: rotate(90deg);}
    25%  {transform: rotate(180deg);}
    50%  {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
}

@keyframes otherrotation {
    0%   {transform: rotate(-90deg);}
    25%  {transform: rotate(-180deg);}
    50%  {transform: rotate(-270deg);}
    100% {transform: rotate(-360deg);}
}